
a, p{
    padding: 7px;
    text-decoration: none;
    color: rgb(20, 53, 68);
    font-size: 20px;
}

div{
    margin: 15px;
    padding: 7px;
    border: 3px rgb(23, 94, 128) solid;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
}

a:hover{
    color: rgb(235, 41, 41);
}